<main>
    <div class="container">

        <aside th:include="fragments/aside"></aside>

        <section class="col-md-9 container body-content">
            <div class="row">
                <th:block th:each="question:${questions}">
                    <div class="col-md-9 col-md-offset-2">
                        <article>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <a th:href="@{/question/{id}(id=${question.id})}"><h3 class="panel-title"
                                                                                          th:text="${question.title}"></h3>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <a th:href="@{/categories/{categoryId}/{subcategoryId}
                                        (categoryId = ${question.category.id}, subcategoryId = ${question.subcategory.id})}">
                                            <span class="categoryInfo" th:text="${question.subcategory.name}"></span>
                                        </a>
                                        <span class="answerInfo">Answers:
                                            <span th:text="${question.answers.size()}"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-4 ">
                                        <span class="questionInfo">Created by:</span><br/>
                                        <img class="thumbnail" th:src="${question.author.imagePath}" alt="User Image"/>
                                        <span class="questionInfo" th:text="${question.author.username}"></span><br/>
                                        <span class="dateInfo" th:text="${#dates.format(question.creationDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </div>

                                    <div class="col-md-4 ">
                                        <th:block th:if="${question.lastAnswer!= null}">
                                            <span class="questionInfo">Last activity:</span><br/>
                                            <img class="thumbnail" th:src="${question.lastAnswer.author.imagePath}" alt="User Image"/>
                                            <span class="questionInfo" th:text="${question.lastAnswer.author.username}"></span> <br/>
                                            <span class="dateInfo" th:text="${#dates.format(question.lastAnswer.creationDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </th:block>
            </div>
            <span th:include="${subcategoryId} ? 'pagination/subcategory' : 'pagination/category'"></span>
        </section>
    </div>
</main>