<main>
    <div class="container">
        <aside class="col-md-3">
            <div id="MainMenu">
                <h2>Categories</h2>
                <div class="list-group panel">
                    <th:block th:each="category:${categories}">
                        <a th:href="'/categories/'+${category.id}" th:attr="data-target='#' + ${category.id}"
                           class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="MainMenu">
                            <span th:text="${category.name}"></span>
                        </a>
                        <div class="collapse" th:id="${category.id}"
                             th:classappend="(${category.id.equals(catId)})?in:out">
                            <th:block th:each="subcategory:${subcategories}" th:if="${subcategory.category.equals(category)}">
                                <a th:href="'/categories/' + ${category.id} + '/' + ${subcategory.id}" class="list-group-item"
                                   th:classappend="(${subcategory.id.equals(subId)})?active:out">
                                    <span th:text="${subcategory.name}"></span>
                                    <span th:text="${subcategory.questions.size()}"  class="badge"></span>
                                </a>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
        </aside>
        <section class="col-md-9 container body-content">
            <div class="row">
                <th:block th:each="question:${questions}">
                    <div class="col-md-9 col-md-offset-2">
                        <article>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <a th:href="@{/question/{id}(id=${question.id})}"><h3 class="panel-title"
                                                                                          th:text="${question.title}"></h3>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <a href="#">
                                            Category of the post
                                        </a>
                                        <br/><br/>
                                        Answers: 43
                                    </div>
                                    <div class="col-md-4 ">
                                        Created by:<br/>
                                        <span >AUTHOR</span><br/>
                                        <span th:text="${#dates.format(question.creationDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </div>
                                    <div class="col-md-4 ">
                                        Last activity:<br/>
                                        author...<br/>
                                        24/05/2016
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </th:block>
            </div>
        </section>
    </div>
</main>