<main>
    <div class="col-md-9 col-md-offset-2" >
        <article>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${question.title}"></h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-2" style="border-right: 1px solid lightgray">
                        <span th:text="${question.author.username}"></span>
                        <span th:text="${question.creationDate}"></span>
                    </div>
                    <div class="col-md-10">
                        <p th:text="${question.content}"></p>
                    </div>

                </div>
                <div class="panel-footer ">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-warning btn-sm" href="../answer/create.html">Answer &raquo;</a>
                        </div>
                        <div class="col-md-5">
                            Tags:
                            <a href="#" class="label label-default"> Programming</a>
                            <a href="#" class="label label-default"> Infrastructure</a>
                        </div>
                        <div class="col-md-5">
                            <a href="#">
                                Category of the post
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="pull-right">
            <th:block sec:authorize="isAuthenticated()">
            <a class="btn btn-success btn-xs"
               th:href="@{/question/edit/{id}(id = ${question.id})}">Edit</a>
            </th:block>
        </div>
    </div>
</main>