<main>
    <div class="container">
        <aside class="col-sm-3">
            <div id="MainMenu">
                <h2>Categories</h2>
                <div class="list-group panel">
                    <th:block th:each="category:${categories}">
                        <a th:href="'/categories/'+${category.id}" th:attr="data-target='#' + ${category.id}"
                           class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="MainMenu">
                            <span th:text="${category.name}"></span>
                        </a>

                    </th:block>
                </div>
            </div>
        </aside>
        <section class="col-md-9 container body-content">
            <div class="row">
                <th:block th:each="question:${questions}">
                    <div class="col-md-9 col-md-offset-2">
                        <article>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <a th:href="@{/question/{id}(id=${question.id})}"><h3 class="panel-title"
                                                                                          th:text="${question.title}"></h3>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <a th:href="@{/categories/{categoryId}/{subcategoryId}
                                        (categoryId = ${question.category.id}, subcategoryId = ${question.subcategory.id})}">
                                            <span th:text="${question.subcategory.name}"></span>
                                        </a>
                                        <br/><br/>
                                        <a class="btn btn-default btn-xs" th:each="tag:${question.tags}"
                                           th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>

                                        <br/><br/>
                                        Answers: <span th:text="${question.answers.size()}"></span><br/>
                                    </div>
                                    <div class="col-md-4 ">
                                        Created by:<br/>
                                        <span th:text="${question.author.username}"></span><br/>
                                        <span th:text="${#dates.format(question.creationDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </div>
                                    <div class="col-md-4 ">
                                        Last activity:<br/>
                                        <span th:text="${question.lastAnswer.author.username}"></span><br/>
                                        <span th:text="${#dates.format(question.lastAnswer.creationDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </th:block>
            </div>
            <span th:include="pagination/index"></span>
        </section>
    </div>
</main>