<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/user/profile/}" method="post">
                <fieldset>
                    <legend>Profile</legend>
                    <div class="col-sm-4">
                        <img th:src="${user.imagePath}" alt="User Image"/>
                        <p></p>
                        <label class="control-label">User created on:</label>
                        <span th:text="${#dates.format(user.creationDate, 'dd.MM.yyyy HH:mm:ss')}"></span>
                        <p></p>
                        <label class="control-label">Questions:</label>
                        <p></p>
                        <label class="control-label">Answers:</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-5 ">
                                <h4>
                                    <span th:text="${user.username}"></span>
                                </h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-5 ">
                                <h5>
                                    <span th:text="${user.email}"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full Name</label>
                            <div class="col-sm-5 ">
                                <h5>
                                    <span th:text="${user.fullName}"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <a class="btn btn-default" th:href="@{/}">Cancel</a>
                                <a class="btn btn-success" th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>