ul.navbar-left{
    list-style-type: none;
}
ul.navbar-left>li>a.btn{
    margin-top: 8px;
}
h2 {
    margin-top: 0;
}

section {
    margin-top: 40px ;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.sortable li.placeholder {
    position: relative;
    /** More li styles **/
}
ul.sortable li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
#sortable {
    cursor: move;
}

span.categories{
    display: inline-block;
    width: 190px;
}
span.categories.badge{
    display: inline-block;
    width: 30px;
}
#tagSection {
    margin-top: 0;
}

ul.error{
    color: red;
    list-style-position: inside;
}

a.disabled{
    pointer-events: none;
}

.pager li > a,
.pager li > span {
    background-color: #d9edf7;
    color: #3a87ad;
}

.tag{
    margin: 3px;
}

.tagcloud{
    color: #3a87ad;
}

.thumbnail{
    width: 25px;
    border-radius: 50px;
    padding: 0;
    margin-bottom: 0;
}

.questionInfo{
    font-weight: 600;
    font-size: 87%;
}

.dateInfo{
    font-weight: 600;
    font-size: 65%;
}

.label-default {
    background-color: #999999;
    border-radius: .40em;
    font-size: 65%;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #bbbbbb;
}

.categoryInfo{
    padding-bottom: 8px;
    display:block;
}

.answerInfo{
    padding-top: 8px;
    display: block;
    font-size:75%;
    font-weight: bold;
}