ul.navbar-left{
    list-style-type: none;
}
ul.navbar-left>li>a.btn{
    margin-top: 8px;
}
h2 {
    margin-top: 0;
}

section {
    margin-top: 40px ;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.sortable li.placeholder {
    position: relative;
    /** More li styles **/
}
ul.sortable li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
#sortable {
    cursor: move;
}

span.categories{
    display: inline-block;
    width: 190px;
}
span.categories.badge{
    display: inline-block;
    width: 30px;
}
#tagSection {
    margin-top: 0;
}

ul.error{
    color: red;
    list-style-position: inside;
}

a.disabled{
    pointer-events: none;
}