<main>
    <div class="container body-content">
        <h1>Search by Tag - <th:block th:text="${tag.name}"></th:block></h1>
        <div class="row">
            <th:block th:each="question : ${tag.questions}">
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2 th:text="${question.title}"></h2>
                        </header>

                        <small class="author" th:text="${question.author.username}"></small>

                        <p>
                            <a class="btn btn-default btn-xs" th:each="tag:${question.tags}"
                               th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                        </p>


                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/question/{id}(id=${question.id})}">Read more &raquo;</a>
                            </div>
                        </footer>
                        <p>
                            <br/>
                        </p>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>
