<main>
    <div class="container body-content">
        <div class="well">
            <div class="row">
                <h2>Subcategories -
                    <a th:href="@{/admin/subcategories/create}" class="btn btn-warning">Create New</a>
                </h2>

                <th:block th:each="category:${categories}">

                    <div class="panel panel-default col-sm-8 col-sm-offset-2">
                        <div class="panel-body">

                            <h3 th:text="${category.name}"></h3>
                            <table class="table table-hover sorted_table" id="sortable"
                                   onload="sortable()">
                                <thead>
                                <tr>
                                    <th>OrderNo</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="subcategory : ${subcategories}"
                                    th:if="${#sets.contains(category.subcategories,subcategory)}" class="info">
                                    <input th:class="'index' +${category.id}"  type="hidden"
                                           th:value="${subcategory.id}"/>
                                    <td th:text="${subcategory.orderNo}"></td>
                                    <td th:text="${subcategory.name}"></td>
                                    <td>
                                        <a th:href="@{/admin/subcategories/edit/{id}(id = ${subcategory.id})}">Edit</a>
                                        <a th:href="@{/admin/subcategories/delete/{id}(id = ${subcategory.id})}">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <th:block th:if="${category.subcategories.size()>0}">
                                <input type="button" value="Save Order"
                                       th:onclick="'javascript:listOrder.saveList(\'' + ${category.id} + '\');'"/>
                            </th:block>
                            <form th:id="'listSaveForm'+${category.id}" method="POST"
                                  th:action="@{/admin/subcategories/}">
                                <input type="hidden" name="list" th:id="'hiddenListInput'+${category.id}"/>
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</main>